[build]
  # The command to build your Nuxt application
  command = "bun --bun run nuxt build" 
  
  # The directory where Nuxt/Nitro puts the static files 
  # This is the default output directory after a build.
  publish = "dist"

# Configuration for the serverless function handler
# This tells Netlify which directory contains the server-side code (the Netlify Function)
[functions]
  directory = ".netlify/functions-internal"
  # Optional: You might need to specify the Node.js version 
  # node_bundler = "esbuild"